* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f8fc;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: transparent;
}

.logo-container {
    display: flex;
    align-items: center;
    /* vertically centers text and image */
    gap: 10px;
    /* space between image and text */
}

.logo {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}

.logo-img {
    width: 100px;
    /* adjust as needed */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
    margin: 0px 250px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    margin-left: auto;
}

.btn {
    background-color: #ff007a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(255, 0, 122, 0.3);
}

/* Hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 180px;
    min-height: 10vh;
}

.text-content {
    max-width: 50%;
}

.welcome {
    letter-spacing: 2px;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

h1 span {
    color: #ff007b;
}

h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.desc {
    font-size: 16px;
    color: #666;
    line-height: 1.7;
    max-width: 500px;
}

.socials {
    display: flex;
    gap: 80px;
    margin-top: 40px;
}

.group h4 {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.icons a {
    display: inline-block;
    margin-right: 15px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    color: #333;
    font-size: 18px;
    transition: all 0.3s;
}

.icons a:hover {
    transform: translateY(-3px);
    color: #ff007a;
}

/* Image side */
.image-content img {
    width: 380px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

